{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-4">Mon compte</h1>
        <h2 class="mb-3">Mes informations</h2>
        <div>
            <p>Email : {{ user.email }}</p>
        </div>
        <div>
            <p>Pseudo : {{ user.nickName }}</p>
        </div>
        <div>
            <p>Prénom : {{ user.firstName }}</p>
        </div>
        <div>
            <p>Nom : {{ user.lastName }}</p>
        </div>
        <h2 class="mb-3">Mes posts</h2>

        <div>
            {% for post in pagination %}
                <div class="border border-dark mb-4">
                    <div class="pt-2 ps-5">
                        <p class="fs-4">thread : {{ post.thread.subject }}</p>
                        <p>{{ post.content }}</p>
                    </div>
                    <div class="d-flex ps-5">
                        <p class="me-4">Par {{ post.user.nickName }} le {{ post.createdAt|date('d/m/Y') }}</p>
                        <p class="fs-5">
                            <span class="text-success me-3"><i class="far fa-thumbs-up"></i> {{ post.upVote }}</span>
                            <span class="text-danger"><i class="far fa-thumbs-down"></i> {{ post.downVote }}</span>
                        </p>
                    </div>
                    <div class="mb-4 ps-5">
                        <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-dark text-center text-decoration-none mb-4">Editer</a>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination d-flex justify-content-center my-5">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </main>

{% endblock %}


