{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h1 class="text-center my-4">{{ category.name }}</h1>
        <div class="mb-5">
            {{ category.description }}
        </div>
        {% if category.threads is not null %}
            {% for thread in threads  %}
                <div class="d-flex border border-dark mb-3">
                    <div class="me-4 p-2">
                        <h2 class="me-4">{{ thread.subject }}</h2>
                    </div>
                    <div class="me-4 p-2">
                        <p>Crée le {{ thread.createdAt|date('d/m/Y') }}</p>
                    </div>
                    <div class="p-2">
                        <a href="{{ path('thread_show', {'id': thread.id}) }}" class="btn btn-dark text-center text-decoration-none ms-4">Voir</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}

{% block title %}

{% endblock %}

